<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.hitman.sqltest1"
        version   = "2.0.21">
		
	<preference name="phonegap-version" value="2.3.0" />
	<preference name="orientation" value="portrait" />
	
    <name>sqltest1</name>
    <description>"Absinthe Dilution Faerie" is a small application which calculates how much water one should temper a dose of absinthe with in accordance with the ABV percentage as laid out by Michael Meyers of The Wormwood Society.</description>
    <author href="http://fracturedvisionmedia.com" email="info@fracturedvisionmedia.com">Fractured Vision Media, LLC</author>
	
	<gap:splash src="splash.png" />
	
	<icon src="icons/android/36.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/48.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/72.png" gap:platform="android" gap:density="hdpi" />
	
	<preference name="permissions" value="none" />
</widget>